body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 15px;
    max-width: 900px;
    margin: 20px auto;
  }
  
  .galeria img {
    width: 250px; /* fuerza el mismo ancho */
    height: 250px; /* fuerza el mismo alto */
    object-fit: cover; /* recorta sin deformar */
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }
  